.container{
    width:700px;
    height:700px;
    background-color: rgb(248, 223, 140)
}
.header{
    display: inline-flex;
    margin-left:165px;
    margin-top:40px;
}
.header img{
    width:75px;
    height:40px;
    display: inline-block;
    background-color: white;
}
.main{
    margin-left:80px;
}
.main img{
    width:100px;
    height:80px;
    border: solid black 5px;
    background-color: red;
}
.row1 .row2 .row3 .row4{
    margin-left:10px;
}